/*
Theme Name: Flatsome Child Theme
Theme URI: http://flatsome.uxthemes.com/
Description: This is a child theme for Flatsome
Author: UX Themes
Author URI: http: //www.uxthemes.com/
Template: flatsome
Version: 2.5
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

#site-navigation {
    margin-top: -39px;
    margin-right: -66px;
}
.call {
}
.call p {
  display: block;
  text-align: right;
  text-transform: uppercase;
}

.call h1 {
  float:right;
}

.call img {
  margin-top: 13px;

}


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
